:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #e2e2e2;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
    padding: 0 1rem;
}

a {
    color: var(--white-color);
    opacity: .75;
}

a:hover {
    color: var(--secondary-color);
    opacity: .9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.brandFont {
    font-family: 'Montserrat', sans-serif;    
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}